body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px; /* Adjust the gap value to your preference */
  grid-auto-flow: row;
  grid-template-areas:
    "chart statistics"
    "chart statistics";
}

.chart {
  grid-area: chart;
}

.statistics {
  grid-area: statistics;
}

h3 {
  margin-top: 0;
}



canvas {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.container:nth-child(2) {
  margin-top: 40px;
}
